{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}"/>
<div class="heading">
     <div class="logo">
         <h1 class="logoText">NetМаркет</h1>
          </div>
    <div class="navigation">
     <a class="navlink" href="/">Главная</a>
     <a class="navlink" href="/products">Новинки</a>
     <a class="navlink" href="/discounts">Акции</a>
    </div>
</div>


<div class="discountList">

    <div class="discount">
    <img class="discountPreview" src="https://34gaz.ru/upload/iblock/970/970f50ea125c9b53b39273525d0affc3.jpg">
    <p>При первом заказе из нашего магазина действует кэшбэк в 50%! </p>
        <a href="/">
        <button class="discountButton">Заказать</button>
        </a>



    </div>
</div>


