<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

     * {
       font-family: Noto Sans;
     }
     h1 {
            color: white;
            margin: 0;
            padding: 10;
     }
   img {
       max-width: 200px;
       max-height: 200px;
     }

     .product {
        display: flex;
        border: 2px #9370DB solid;
        margin-top: 10px;
        border-radius: 10px;
        padding: 10px;
     }
     .heading {
          display: flex;
          align-items: center;

     }
     a {
         margin-right: 30px;
         text-decoration: none;
         color: black;
         font-size: 23px;
     }
     a:hover {
         color: #9370DB;
     }
     .logo {
         background-color: #483D8B;
         border-radius: 10px;
         }
    .navigation {
        margin-left: 100px;
    }
</style>
<div class="heading">
     <div class="logo">
         <h1 style="font family: Arial">NetМаркет</h1>
          </div>
    <div class="navigation">
     <a href="/">Главная</a>
     <a href="/products">Товары</a>
     <a href="/discounts">Акции</a>
    </div>
</div>
<div class="product">

     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThYdsgzinO7Xws-j1zUslnVCxLx_5_08_XVw&s">
          <div>
     <h2>Помада</h2>
     <p>Губна́я пома́да (фр. pommade, итал. pomata из лат. pōmum — «яблоко») — косметический продукт для яркой окраски, защиты и/или увлажнения губ. Состоит из красок, воска, спермацета, вазелинового масла, масла-какао, ароматических и других веществ. </p>
          </div>
     <button>Купить</button>
</div>
<div class="product ">
     <img src="https://kikocosmetics.ru/upload/iblock/0f9/0f90d001aaa0be2b6d7265832c001853.jpg">
           <div>
     <h2>Тушь</h2>
     <p>Тушь (нем. Tusche) — краска, различных цветов, ранее брусковая чёрная краска (тушь чёрная), разных оттенков, приготовленная из сажи.</p>
                </div>
     <button>Купить</button>
</div>