{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}"/>
<div class="heading">
     <div class="logo">
         <h1 class="logoText">NetМаркет</h1>
          </div>
    <div class="navigation">
     <a class="navlink" href="/">Главная</a>
     <a class="navlink" href="/novelty">Новинки</a>
     <a class="navlink" href="/discounts">Акции</a>
    </div>
</div>

  <div class="newText">
    <h1>Новинок пока нет</h1>
       <a href="/">
    <p>Выход на главную </p>
       </a>
  </div>