{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="heading">
    <a href="/">
     <div class="logo">
         <h1 class="logoText" style="font family: Arial">NetМаркет</h1>
          </div>
    </a>
</div>

    <div class="payment">
        <div class="payInfo">
            <h1>Товар: {{product.name}}</h1>
    <h2>К оплате: {{product.price}} руб.</h2>
              <div class="vspace"></div>
    <h2>Реквизиты для перевода:</h2>
    <p>
     <i class="fa-solid fa-phone"></i>
        +78005553535</p>
    <p>
        <i class="fa-solid fa-user"></i>
        Дариус соло</p>
            <div class="vspace"></div>
        <h2>Данные для доставки:</h2>
            <form class="paymentDetailsForm" method="POST">
             {% csrf_token %}

        <label>Ваше ФИО:</label>
        <input class="inputElement" name="fullname">

        <label>Адрес доставки:</label>
        <input class="inputElement" name="address">

        <label>Номер телефона для связи:</label>
        <input class="inputElement" name="phone">
            <div class="vspace"></div>


<button class="payButton">Оплачено</button>
</form>
</div>
</div>