{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}"/>
<div class="heading">
     <div class="logo">
         <h1 class="logoText" style="font family: Arial">NetМаркет</h1>
          </div>
    <div class="navigation">
     <a class="navlink" href="/">Главная</a>
     <a class="navlink" href="/products">Товары</a>
     <a class="navlink" href="/discounts">Акции</a>
    </div>
</div>

<div class = "productCard">
     <img class="productImage" src="{{ product.image_url }}" >
<div class="productInfo">
    <h1>{{ product.name }}</h1>
    <h3>{{ product.price }} руб.</h3>

    <button>Купить</button>
 </div>
</div>

<div class = "productDetails">
<h1>Описание: </h1>
    <p>{{ product.description }}</p>
    <h1>Характеристика:</h1>

    {% if product.brandMark %}
    <div class="charRow">
    <p>
        Брэнд:
    </p>
    <p>
        {{ product.brandMark }}
    </p>
    </div>
    {% endif %}

    {% if product.color %}
    <div class="charRow">
    <p>
        Цвет:
    </p>
    <p>
        {{ product.color }}
    </p>
    </div>
    {% endif %}

    <h1>Отзывы:</h1>

    <div class="reviews">
        <div class="review">
          <div class="reviewHeader">
              <h2>Людмила</h2>
              <h2 class="greenText">Положительная</h2>
          </div>
            <p>Идейные соображения высшего порядка, а также сложившаяся структура организации влечет за собой процесс внедрения и модернизации новых предложений. Идейные соображения высшего порядка, а также рамки и место обучения кадров в значительной степени обуславливает создание направлений прогрессивного развития.</p>
        </div>
    </div>
</div>

