{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="heading">
     <div class="logo">
         <h1 class="logoText" style="font family: Arial">NetМаркет</h1>
          </div>
</div>

<div class="payment" style="text-align: center">
    <h1> <i class="fa-solid fa-handshake-simple"></i> Поздравляем с покупкой!</h1>
    <h2>После подтверждения оплаты, ваш товар будет отправлен по указанному адресу</h2>

</div>

<script>
    setTimeout(() => {
    document.location = '/';
    }, 3000);
</script>